<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Fraude</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/logout" class="logout-button">Cerrar Sesión</a>  <!-- Botón de Logout -->

    <div class="circle circle-large"></div>
    <div class="circle circle-purple"></div>
    <div class="circle circle-blue"></div>
    <div class="circle circle-pink"></div>

    <h1>Subir archivo para predicción de fraude</h1>
    <form id="uploadForm" enctype="multipart/form-data" class="index_form">
        <label class="file-label" for="file-input">Seleccionar archivo</label>
        <input type="file" id="file-input" name="file" required onchange="updateFileName()">
        <div class="selected-file" id="selected-file">Archivos seleccionados: Ninguno</div>
        <button type="submit">Enviar</button>
    </form>
    <p>Recordar que debe tener las columnas adecuadas.</p>
    <p>Y NO DEBE CONTENER MÁS DE 999.999 FILAS</p>
    <div class="status-container">
        <div id="loading">Cargando<span id="dots">...</span></div>
        <div id="result"></div>
    </div>

    <script>
        function updateFileName() {
            const input = document.getElementById('file-input');
            const label = document.getElementById('selected-file');
            const fileName = input.files.length > 0 ? input.files[0].name : 'Ninguno';
            label.textContent = `Archivos seleccionados: ${fileName}`;
        }

        document.getElementById('uploadForm').onsubmit = async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            const loadingMessage = document.getElementById('loading');
            const dots = document.getElementById('dots');

            loadingMessage.style.display = 'block';

            let dotCount = 0;
            const dotAnimation = setInterval(() => {
                dotCount = (dotCount + 1) % 4;
                dots.textContent = '.'.repeat(dotCount);
            }, 500);

            try {
                const response = await fetch('/predict', {
                    method: 'POST',
                    body: formData
                });
                const data = await response.json();

                clearInterval(dotAnimation);
                loadingMessage.style.display = 'none';

                if (data.output_file) {                    
                    const downloadLink = `<a href="/download/${data.output_file}" download>Descargar resultados</a>`;                    
                    document.getElementById('result').innerHTML = downloadLink;
                } else {
                    document.getElementById('result').innerText = data.error;
                }

            } catch (error) {
                clearInterval(dotAnimation);
                loadingMessage.style.display = 'none';
                document.getElementById('result').innerText = 'Error en la conexión. Inténtalo de nuevo.';
                console.error(error);
            }
        };
    </script>
</body>
</html>